[core]
	excludesfile = /Users/akira/.gitignore
[gui]
  encoding = utf-8
[color]
  diff = auto
	ui = auto
[user]
	name = Akira Sosa
	email = akirasosa@gmail.com
[push]
  default = tracking
[ghq]
	root = ~/src
[diff]
	tool = vimdiff
[difftool]
	prompt = false
[alias]
	d = difftool
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path =
