# gcc
export CC=gcc-4.2

export PATH=${PATH}:${HOME}/bin

# for brew
export PATH=/usr/local/bin:${PATH}

# for android sdk
export ANDROID_SDK_ROOT=/usr/local/Cellar/android-sdk/r16
export PATH=${PATH}:${ANDROID_SDK_ROOT}/tools:${ANDROID_SDK_ROOT}/platform-tools

# for python
#export PATH=/usr/local/share/python:${PATH}

# for node.js
export NODE_PATH=/usr/local/lib/node
export PATH=${PATH}:/usr/local/share/npm/bin

# for rvm
[[ -s "$HOME/.rvm/scripts/rvm" ]] && . "$HOME/.rvm/scripts/rvm"
PATH=$PATH:$HOME/.rvm/bin # Add RVM to PATH for scripting

# for tmuxinator
[[ -s $HOME/.tmuxinator/scripts/tmuxinator ]] && source $HOME/.tmuxinator/scripts/tmuxinator

